# ignore node modules
node_modules
# ignore log files
logs.log
http.log
# ignore compiled files
dist/

.nyc_output
coverage

.vscode
.env
# .env.local
# .env.*

.todo
data

# lock file
package-lock.json